@model ASING.ViewModels.GroupActivitiesViewModel

@{
    ViewData["Title"] = "Group Activities";
}

<!--!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title><h1>Group Activities</h1></title>
</head>
<body-->
<p>
    <input type="button" class="btn btn-primary" value="Create Activity" onclick="location.href='@Url.Action("Create", "GroupActivities", new { groupId = Model.GroupId, studentId = Model.StudentId } )'" />

</p>

<div>
    <h1>Group Event Details</h1>
    <table cellpadding="0" cellspacing="0" class="table table-responsive table-hover table-striped">
        <tr>
            <th></th>
            <th>Description</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Recurring</th>
            <th>Frequency</th>
            <th>Created By</th>
        </tr>
        @foreach (var groupEvent in Model.GroupEvents)
        {
            <tr>
                <td>
                    <img src="~/Images/plus.png" />
                    <div style="display:none">
                        <table cellpadding="0" cellspacing="0" class="table table-responsive table-hover table-striped">
                            <tr>
                                <th>Student ID</th>
                                <th>Student Name</th>
                                <th>Status</th>
                            </tr>
                            @foreach (var groupEventParticipant in groupEvent.GroupEventParticipation)
                            {
                                <tr>
                                    <td>@groupEventParticipant.StudentId</td>
                                    <td>@groupEventParticipant.StudentName</td>
                                    <td>@groupEventParticipant.StatusName</td>
                                </tr>
                            }
                        </table>
                    </div>
                </td>
                <td>@groupEvent.EventDescription</td>
                <td>@groupEvent.StartTime</td>
                <td>@groupEvent.EndTime</td>
                <td>@groupEvent.Isrecurring</td>
                <td>@groupEvent.Frequency</td>
                <td>@groupEvent.CreatedBy</td>
            </tr>

        }
        <div><input type="hidden" asp-for="StudentId"></div>
    </table>

    <h1>My Pending Approvals</h1>
    <table cellpadding="0" cellspacing="0" class="table table-responsive table-hover table-striped">
        <tr>
            <th>Summary</th>
            <th>Location</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>@String.Empty</th>
            <th>@String.Empty</th>
        </tr>
        @foreach (var pendingMembership in Model.PendingMemberships)
        {
    <tr>
        <td>@pendingMembership.Summary</td>
        <td>@pendingMembership.Location</td>
        <td>@pendingMembership.StartTime</td>
        <td>@pendingMembership.EndTime</td>
        <td><input type="button" class="btn btn-primary" value="Accept" onclick="location.href='@Url.Action("AcceptGroupActivityMembership", "GroupActivities", new { groupActivityMembershipId = pendingMembership.GroupActivityMembershipId, groupId = pendingMembership.GroupId, studentId = pendingMembership.StudentId })'" /></td>
        <td><input type="button" class="btn btn-primary" value="Deny" onclick="location.href='@Url.Action("DenyGroupActivityMembership", "GroupActivities", new { groupActivityMembershipId = pendingMembership.GroupActivityMembershipId, groupId = pendingMembership.GroupId, studentId = pendingMembership.StudentId })'" /></td>
    </tr>
        }
    </table>


        <p>
            <input type="button" class="btn btn-primary" value="Dashboard" onclick="location.href='@Url.Action("Details", "UniversityUsers", new { id = Model.StudentId } )'" />&nbsp;&nbsp;&nbsp;

            <input type="button" class="btn btn-primary" value="Download Calendar" onclick="location.href='@Url.Action("DownloadCalendar", "GroupActivities", new { groupId = Model.GroupId } )'" />

        </p>

</div>
@section Scripts {
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        //Assign Click event to Plus Image.
        $("body").on("click", "img[src*='plus.png']", function () {
            $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
            $(this).attr("src", "/images/minus.png");
        });
        //Assign Click event to Minus Image.
        $("body").on("click", "img[src*='minus.png']", function () {
            $(this).attr("src", "/images/plus.png");
            $(this).closest("tr").next().remove();
        });
    </script>
}
    <!--/body-->
    <!--/html-->
