@model ASING.ViewModels.StudentDashboardViewModel

@{
    ViewData["Title"] = "Details";
    //Layout = "~/Views/_ViewStart.cshtml";
}

<h1>Student Dashboard</h1>

<div>
    <h3>Profile</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityUser.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityUser.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityUser.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityUser.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityUser.Profile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityUser.Profile)
        </dd>
    </dl>
</div>

<div>
    @foreach (var unitDetail in Model.UnitDetails)
    {
        <h3>@unitDetail.UnitName</h3>
        <h4>@unitDetail.GroupName</h4>

        @if (unitDetail.GroupMemberships != null && unitDetail.GroupMemberships.Count > 0)
        {
        <table class="table table-responsive table-hover table-striped">
            <tr>
                <th>Group Id </th>
                <th>Student Id</th>
                <th>Status</th>
                <th>@String.Empty</th>
                <th>@String.Empty</th>
            </tr>
            @foreach (var groupMembership in unitDetail.GroupMemberships)
            {
        <tr>
 
            <td>@groupMembership.GroupId</td>
            <td>@groupMembership.StudentId</td>
            <td>@groupMembership.StatusName</td>
            <td>
                @if ((groupMembership.StatusId == 1 && groupMembership.StudentId == Model.UniversityUser.UniversityId) || (groupMembership.StatusId == 2 && unitDetail.OwnerId == Model.UniversityUser.UniversityId))
                {
                    <input type="button" value="Accept" onclick="location.href='@Url.Action("AcceptGroupMembership", "GroupMemberships", new { studentId = Model.UniversityUser.UniversityId, groupMembershipId = groupMembership.GroupMembershipId })'" />

                }
                else
                { @String.Empty}
            </td>

            <td>
                @if ((groupMembership.StatusId == 1 && groupMembership.StudentId == Model.UniversityUser.UniversityId) || (groupMembership.StatusId == 2 && unitDetail.OwnerId == Model.UniversityUser.UniversityId))
                {
                    <input type="button" value="Deny" onclick="location.href='@Url.Action("DenyGroupMembership", "GroupMemberships", new { studentId = Model.UniversityUser.UniversityId, groupMembershipId = groupMembership.GroupMembershipId } )'" />
                }
                else
                { @String.Empty}
            </td>
        </tr>

            }
        </table>
        }else
        {
            <a asp-controller="Groups" asp-action="Create" asp-route-id="@unitDetail.UnitId">Create Group</a>
        }
    }
</div>
